<<<<<<< HEAD
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding with Ron</title>
    <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
=======
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding with Ron</title>
    <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
>>>>>>> e7aaaaeaa9f81b0e2627696a4826efa4a80db62d
