<h1>
  {{ collection.name }}
</h1>

{% for product in collections['front-page'].products %}
  {{- product.title | link_to: product.url }}
  <div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price }}</p>
    <img src="{{ product.featured_image }}" alt="">
  </div>
{% endfor %}